
@import url('https://fonts.googleapis.com/css?family=Anton');

body{
	text-align: center;
	font-family: 'Anton', sans-serif;
}

h1, h2, h3{
	font-weight: bold;
}
h1, h2{
	text-transform: uppercase;
	color: white;
	text-shadow:
	   -2px -2px 0 #000,
	    2px -2px 0 #000,
	   -2px  2px 0 #000,
	    2px  2px 0 #000;
}
h1{
	font-size: 4.236em;
}
h2{
	font-size: 2.618em;
}
h3{
	font-size: 1.618em;
}
strong{
	font-weight: bold;
}


.clearfix:before,
.clearfix:after{
	display: table;
	content: '';
	clear: both;
}

.page-header{
	margin: 2em 0;
}
.game{
	margin-top: 2em;
}
.correct{
	color: limegreen;
}
.wrong{
	color: red;
}


#result{
	display: none;
}
#resultimg img{
	height: 300px;
}
#restart{
	background: white;
	border: 3px solid black;
	padding: 10px;
	margin: 40px auto 20px;
	font-size: 1.8em;
	cursor: pointer;
}


#instructions{
	margin-bottom: 10px;
}
#guessing{
	letter-spacing: 2px;
	font-size: 1.8em;
}
#guessed{
	letter-spacing: 5px;
}

#gameboard{
	border: 1px solid black;
	margin: 2em auto;
}
